<div class="jumbotron">
  <h1 class="display-3">Acerca de...!</h1>
  <p class="lead">Este sitio ha sido desarrollado por el ingeniero en sistemas Daniel Ramires de la Maestria en Sistemas Computacionales del Instituto Tecnologico de Zacatecas.</p>
  <hr class="my-4">
    <div class="footer-copyright text-center navbar-light">
        (c) 2020 Copyright GDRH
    </div>
  </p>
</div>