<div class="card" style="width: 18rem;">
    
    <title>Aplicación de notas</title>
  <div class="card-body">
    <h1 class="card-title">Aplicacion con NodeJS y MongoDb</h1>
    <p class="card-text">Bienvenidos a nuestra aplicacion de notas</p>
    <p>Este es un sitio web para el registro de notas de usuario
      donde cada usuario tendra un almacen de notas de manera independiente.
    </p>
  </div>